<li class="list-group-item">
	<i class="fa fa-facebook"></i>
	<small class="text-muted"><%= activity.created_at.strftime('%H:%M:%S %-d %B %Y') %></small><br/>
	<strong><%= activity.owner ? activity.owner.name : 'Guest' %></strong>
	shared <%= activity.trackable.title %> on facebook.
</li>
<% if false #TODO remove this someday %>
<li class="list-group-item">
	<div class="row">
		<span class="col-lg-4">
			<strong><%= activity.owner.name %></strong>
		</span>
		<span class="col-lg-6">
			<i class="fa fa-facebook"></i>
			shared <%= activity.trackable.title %> on facebook.
		</span>
		<span class="col-lg-2">
			<small class="text-muted"><%= activity.created_at.strftime('%H:%M:%S %-d %B %Y') %></small><br/>
		</span>
	</div>
</li>
<% end %>