<!-- Main player Area Start -->
<div class="col-md-9">
    <div class="col-md-12 col-lg-12">
        <% word = "creat" %>
        <% word = "updat" if mixaudio.present? %>
        <a id="mixaudio" data-remote="true" href="/songs/<%=@song.id%>/mixaudio?configuration=<%=@configuration%>" class="mixaudio loading pull-right<%=" disabled" if mixaudio.present? %>" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> <%=word%>ing mix">
           <!-- <span><%=word%>e mix</span> -->
        </a>
    </div>
</div>
    <div id="tracker-compiled" data-progress="68">
        <div class="clearfix">
        <a href="#" class="tracker-info tracker-custom">
            <i class="full-play-btn fa fa-play" id="top-play"></i>
        </a>
            <% song_start_time = 0.0 %>
            <% @song.parts.each_with_index do |part, c| %>
                <% c += 1 %>
                <a id="clips-<%=c%>0" class="tracker-part part<%=c%> <%=' focus' if c == @currentIndex %>" data-column="<%=c%>">
					<% # itereate on part.clips so clips are only loaded one time %>
					<% part.clips.each do |clip| %>
						<% time_increment = 1.0 %>
						<% if c == 1 %>
							<% time_increment = 0.0 %>
						<% end %>
						<div id="clip-part-<%=c%>" class="clip" data-id="<%=clip.id%>" data-path="<%=clip.file%>" data-state1="<%=clip.state%>" data-state2="<%=clip.state2%>" data-state3="<%=clip.state3%>">
								<!-- <p class="left-time-inline"><%= Time.at(song_start_time + time_increment).utc.strftime("%M:%S") %></p> -->
								<span class="time"><%= Time.at(song_start_time = song_start_time + part.duration).utc.strftime("%M:%S") %></span>
								<span class="gradient"></span>
						</div>
						<% break %>
					<% end %>
                </a>
            <% end %>
        </div> 
           
    </div>

    

<script type="text/javascript">
    window.topWavesurfers = {};
    window.seekingColumn = 0;
    window.wavesurfers = wavesurfers = {};
    window.draggableElm = {};
    var loadTopColumn = 1;

    topWavesurferPlayer = function(container, src, column) {
        var wavesurfer = Object.create(WaveSurfer);
        wavesurfer.column = column;
        wavesurfer.init({
            container: container,
            fillParent: true,
            height: 20,
            waveColor: 'rebeccapurple',
            progressColor: 'rebeccapurple',
            splitChannels: true,
            cursorWidth: 2,
            cursorColor: "yellow"
        });

        wavesurfer.on('ready', function (_this) {
            $(_this.container).addClass('loaded');
            if (!_this.isMuted) {
                _this.toggleMute();    
            };
            // console.log(_this.column+" Top Clip player is ready!");
            if (loadTopColumn <= 7) {
                loadTopColumn++;
                loadTopClips();
            } else {
                $("#mixaudio").removeClass('disabled');
            }
        });

        wavesurfer.on('loading', function (_this, progress) {
            $(_this.container).children(".progress").css("left", progress+"%");
        });

        wavesurfer.on('seek', function (_this, position) {
            if (!_this.column) { return };
            if (seekingColumn == _this.column) {
                seekingColumn = -1;
                return true;
            };

            // console.log("Position : ", position);
            seekAllClips(_this.column, position);
        });

        wavesurfer.load(src);
        wavesurfers[column][0] = wavesurfer;
    }

    function seekAllClips(column, position) {
        if (sColumn != column) {
            seekingColumn = sColumn;
            stopPartPlayers(true);
               
            $("#clips-"+sColumn+", #clips-"+sColumn+"0").removeClass('focus playing');
            sColumn = column;
            showCurrentPartDetails();
            $("#clips-"+sColumn+", #clips-"+sColumn+"0").addClass('focus');
            if ($(".full-play-btn").hasClass('playing')) {
                $("#clips-"+sColumn).addClass('playing');               
            }       
                 
            playNext();
            updatePreview();
        }
        
        for (var i = 0; i <= 8; i++) {
            var wavesurfer = wavesurfers[sColumn][i];
            if (wavesurfer) {
                if (i != 0) { wavesurfer.seekTo(position); }
                if ($(".full-play-btn").hasClass('playing')) {
                    if (wavesurfer.backend.isPaused()) {
                        wavesurfer.play();
                    }
                }
            };
        };
    }

    function loadTopClips() {
       $("#mixaudioplayer #clips-"+loadTopColumn+"0").each(function(){
            var column = $(this).attr('data-column');
            if (!wavesurfers[column]) wavesurfers[column] = {};
            $(this).find('.clip').each(function(){
                topWavesurferPlayer(this, $(this).data('path'), parseInt(column));
            })
        }); 
    };

    var playOrPauseTopWavesurferPlayer = function () {
        // Stop any signle player
        stopClipPreviewPlayer(true);

        // Attach Listener
        addRemoveEventListener(true);
        $(".full-play-btn").toggleClass('playing');

        // Play or Pause Sound Clips
        for (var i = 0; i <= 8; i++) {
            var wavesurfer = wavesurfers[sColumn][i];
            if (wavesurfer.backend.isPaused()) {
                $("#clips-"+sColumn).addClass('playing');
                wavesurfer.play();
            } else {
                $("#clips-"+sColumn).removeClass('playing');
                wavesurfer.pause();
            }
        };
    };

    $(document).ready(function(){
        // Intialize all sound clips for play
        setTimeout(function(){
            loadTopClips();    
        }, 500);


        $("#mixaudio").on('click', function(event){
            $(event.target).addClass("disabled");
            $("#mixaudio").button('loading');
        });

        $(".full-play-btn").on('click', function(event){
            event.stopPropagation();
            playOrPauseTopWavesurferPlayer();
        });
    });
</script>
<!-- Main player Area End -->