<%- title("#{@song.name}") %>
<% @currentIndex = 1 %>
<% if @song.processing? %>
	<div id="wrapper" class="toggled clearfix">
		<div id="page-content-wrapper">
			<div class="section section-shadow section-white">
				<div id="tracker-head" class="container-fluid">
						Your song is currently being processed, check back in a few minutes.
				</div>
			</div>
		</div>
	</div>
<% else %>
<div class="alert-custom"></div>
<style>
	.section {
		padding: 15px 0;
	}
	.configure {
          overflow-x: hidden;
    }
</style>
<div id="wrapper" class="toggled clearfix">
	<div id="page-content-wrapper">
		<div class="section section-shadow section-white">
			<div id="tracker-head" class="container-fluid">
				<div class="clearfix clearfix-custom">
					<a href="#" class="pull-right" style="margin-top: 10px" data-toggle="sidebar">Mobile Preview &raquo;</a>
					<h3 class="pull-left editable-text songtitle"><span><%=@song.name%></span></h3>
				</div>
				<div id="mixaudioplayer" class="row container-fluid main-player-area">
					<%= render 'mixaudioplayer', song: @song, mixaudio: @mixaudio %>
				</div>
			</div>
		</div>
	</div>
	<div id="page-content-wrapper">
		<div id="song-clips" data-id="<%=@song.id%>" style="display:none"></div>
		<div id="tracker-desktop" class="section">
			<div id="mix-tabs" class="container">
				<h5 class="tab active"><a href="#" data-id="<%= current_user.name %>" data-mix="original">Original</a></h5>
				<h5 class="tab"><a href="#" data-id="<%= current_user.name %>" data-mix="mix2">Mix2</a></h5>
                <h5 class="tab"><a href="#" data-id="<%= current_user.name %>" data-mix="mix3">Mix3</a></h5>
                <h5 class="bmp_margin"> <label>BPM :</label></h5>
                <h5 class="bpm" data-id="<%=@song.bpm%>"><span><%=@song.bpm%></span></h5>
				<div id="release-status" data-status="<%= @song.status.to_s %>" class="<%= @song.status.to_s %>">
					<% if (@song.released?) %>
						UNRELEASE
					<% end %>
					<% if (@song.working?) %>
						RELEASE
					<% end %>
				</div>
				<div id="release-progress">
					<label class="release_status_style">STATUS: </label>
						<span>
							<% if (@song.released?) %>
								RELEASED
							<% elsif (@song.working?) %>
								WORKING
							<% else %>
								PROCESSING
							<% end %>
						</span>
				</div>
				<div id="tracker-mixer" class="shadow">
					<div class="mixer-row">
						<div id="mixer-panel" class="clearfix">
							<%= render 'clips/index' %>
						</div>
					</div>
				</div>
				<div id="sidebar-wrapper"><div id="preview">
					<%= render 'preview' %>
				</div></div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

$(document).ready(function(){
	if($('#release-status').attr('data-status') == "processing_for_release"){
		$('#release-status').css('display','none');
	}

	if(($('#release-status').attr('data-status') == "processing") || ($('#release-status').attr('data-status') == "failed") || ($('#release-status').attr('data-status') == "archived")){
		$('#release-status').css('display','none');
		$('#release-progress').css('display','none');
	}

	if(($('#release-status').attr('data-status') == "processing")|| ($('#release-status').attr('data-status') == "failed")){
		$('.alert-custom').html("<div class='alert alert-info alert-dismissible' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>×</span></button><p style='margin: 0;'>Song is still processing.</p></div>");
	}
	if($('#release-status').attr('data-status') == "archived"){
		$('.alert-custom').html("<div class='alert alert-info alert-dismissible' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>×</span></button><p style='margin: 0;'>Song is archived.</p></div>");
	}
});

	$('.bpm').on('click',
		'span',
		function(e) {
			var topparent = $($(e.target).parent());
			var classnm=$(e.target).text();
			$($(e.target).parent()).html('<input class="bpm_input" type="number" step="0.1" min="0" data-originalvalue="' + $(e.target).text() + '" value="' + $(e.target).text() + '">')
				.on('blur keyup',
				'input',
				function(e) {
					if (e.type == 'keyup') {
						var key = e.keyCode || e.which;
						if (key == 13 || 0) {
							$(this).blur();
						}
						return;
					}
					e.stopPropagation();
					var parent = $(e.target).parent();
					$('.bpm').attr('data-id',$(e.target).val());
					$($(e.target).parent()).html('<span>' + $(e.target).val() + '</span>');
					if (parent.hasClass("bpm")) {
						url = '/songs/' + <%=@song.id%>;
					}
					$.ajax({
						type: "PUT",
						dataType: "json",
						url: url,
						contentType: 'application/json',
						data: JSON.stringify({bpm: $(e.target).val() })
					})
						.done(function( msg ) {
							console.log( "Data Saved: " + msg );
						})
						.fail(function( msg ) {
							console.log(  msg );
						});
				});
			topparent.children('input')[0].focus();
			var tmpStr = $(topparent.children('input')[0]).val();
			$(topparent.children('input')[0]).val('');
			$(topparent.children('input')[0]).val(tmpStr);
		});


    $(window).keypress(function(e) {
        if ($('#mixaudioplayer').length > 0) {
            if (e.keyCode == 0 || e.keyCode == 32) { 
	            var inputs = document.getElementsByTagName('input');
			    for(var item in inputs)
			    {
			        if(inputs[item] == document.activeElement)
			            return;
			    }           	
	                e.preventDefault();
	                playOrPauseTopWavesurferPlayer();
            }
        }
    });
    
    window.configuration = "<%=@configuration%>";
    initializeTopPlayer = function(mixedFilePath) {
        window.topWavesurfer = Object.create(WaveSurfer);
        window.topWavesurfer.init({
            container: '.full-waveform',
            fillParent: true,
            height: 34,
            waveColor: 'white',
            progressColor: 'white',
            cursorColor: 'white'
        });
        window.topWavesurfer.on('ready', function (_this) {
            console.log("Mix Audio player is ready!");
            $(".full-play-btn, #mixaudio").removeClass('disabled');
        });

        window.topWavesurfer.on('loading', function (_this, progress) {
            $(_this.container).children(".progress").css("left", progress+"%");
        });

        window.topWavesurfer.on('finish', function () {
            updatePreviewPlayBtn(false);
            $(".full-play-btn").removeClass('playing');
            window.topWavesurfer.seekTo(0);
        });
        window.topWavesurfer.load(mixedFilePath);
    }

    stopTopPlayer = function() {
        if (window.topWavesurfer) {
            if (window.topWavesurfer.backend && !window.topWavesurfer.backend.isPaused()) {
                window.topWavesurfer.pause();
                $(".full-play-btn").removeClass('playing');
            }
        }
    }

    $(document).ready(function(){
		var progress = $("#tracker-compiled").data("progress");
		var parts = $("#tracker-compiled .tracker-part").length;
		var updateProgress = function(progress, parts) {
			var step = 100 / parts;
			var current = 1;
			var i;
			for ( i = step; i <= progress; i += step ) {
				$("#tracker-compiled .tracker-part.part" + current + " .gradient").css("width", "100%");
				$("#tracker-compiled .tracker-part.part" + current + " .gradient").css("outline-width", "2px");
				current ++;
			}
			var fill = (progress % step) * 100 / step;
			$("#tracker-compiled .tracker-part.part" + current + " .gradient").css("width", fill + "%");
			$("#tracker-compiled .tracker-part.part" + current + " .gradient").css("outline-width", "2px");
		}

		/* Mobile Version Toggle */
		$("a[data-toggle='sidebar']").click(function(e) {
			e.preventDefault();
			$("#wrapper").toggleClass("toggled");
		});

		$('#release-status').click(function(e) {
            if ($(e.target).attr("data-status") == "working") {
            	var bpm_value = $('.bpm').attr("data-id")           
            	if (parseInt(bpm_value)!= 0) {
	            	console.log("bpm_yes")
                $(e.target).attr("data-status","processing_for_release");
                $(e.target).attr("class","processing_for_release");
                $('#release-progress span').html(' PROCESSING');
                $(e.target).css('display','none');
                $.ajax({
                  type: "PUT",
                  dataType: "json",
                  url: '/songs/<%=@song.id%>',
                  contentType: 'application/json',
                  data: JSON.stringify({status: "released"})
                })
                .done(function( msg ) {
                  console.log( "Data Saved: " + msg );
                  $(e.target).attr("data-status","released");
                  $(e.target).attr("class","released");
                  $('#release-progress span').html(' RELEASED');
                  $(e.target).css('display','block');
                  $(e.target).html('UNRELEASE');
                  $('.alert-custom').css({display: "none"});
                })
                .fail(function( msg ) {
                  console.log(  msg );
                });
				      }
              else {
              	console.log("bpm_not")
              	$('.alert-custom').css({display: "block"});
                $('.alert-custom').html("<div class='alert alert-info alert-dismissible' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>×</span></button><p style='margin: 0;'>Please specify a BPM.</p></div>");
              }
	          }
            else {
        		$.ajax({
                    type: "PUT",
                    dataType: "json",
                    url: '/songs/<%=@song.id%>',
                    contentType: 'application/json',
                    data: JSON.stringify({status: "working"})
            	})
				.done(function( msg ) {
					console.log( "Data Saved: " + msg );
					$(e.target).attr("data-status","working");
					$(e.target).attr("class","working");
					$('#release-progress span').html(' WORKING');
					$(e.target).html('RELEASE');
				})
				.fail(function( msg ) {
					console.log(  msg );
				});
        	}
        });

        
        $('#mix-tabs .tab a').click(function (event) {
            event.preventDefault();
            $('#mix-tabs .tab').removeClass('active');
            $(this).closest('.tab').addClass('active');
            window.configuration = $(this).data('mix');
            reInitializeClipsState();
            updatePreview();
            window.configurationBtn = this;
        });
    });
</script>
<% end %>