<%- title("#{@song.name}") %>
<% @currentIndex = 1 %>
<style>
	.section {
		padding: 15px 0;
	}
</style>
<div id="wrapper" class="toggled clearfix">
	<div id="page-content-wrapper">
		<div class="section section-shadow section-white">
			<div id="tracker-head" class="container-fluid">
				<div class="clearfix">
					<a href="#" class="pull-right" style="margin-top: 10px" data-toggle="sidebar">Mobile Preview &raquo;</a>
					<h3 class="pull-left editable-text songtitle"><span><%=@song.name%></span></h3>
					<div id="release-status" data-status="<%= @song.status.to_s %>" class="<%= @song.status.to_s %>">
						<% if (@song.released?) %>
							Released
						<% else %>
							Release
						<% end %>
					</div>
				</div>
				<div id="mixaudioplayer" class="row container-fluid main-player-area">
					<%= render 'mixaudioplayer', song: @song, mixaudio: @mixaudio %>
				</div>
			</div>
		</div>
	</div>
	<div id="page-content-wrapper">
		<div id="song-clips" data-id="<%=@song.id%>" style="display:none"></div>
		<div id="tracker-desktop" class="section">
			<div id="mix-tabs" class="container">
				<h5 class="tab active"><a href="#" data-mix="original">Original</a></h5>
				<h5 class="tab"><a href="#" data-mix="mix2">Mix2</a></h5>
                <h5 class="tab"><a href="#" data-mix="mix3">Mix3</a></h5>
				<div id="tracker-mixer" class="shadow">
					<div class="mixer-row">
						<div class="clearfix">
							<%= render 'clips/index' %>
						</div>
					</div>
				</div>
				<div id="sidebar-wrapper"><div id="preview">
					<%= render 'preview' %>
				</div></div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
    window.configuration = "<%=@configuration%>";
    initializeTopPlayer = function(mixedFilePath) {
        window.topWavesurfer = Object.create(WaveSurfer);
        window.topWavesurfer.init({
            container: '.full-waveform',
            fillParent: true,
            height: 34,
            waveColor: 'white',
            progressColor: 'white',
            cursorColor: 'white'
        });
        window.topWavesurfer.on('ready', function (_this) {
            console.log("Mix Audio player is ready!");
            $(".full-play-btn, #mixaudio").removeClass('disabled');
        });

        window.topWavesurfer.on('loading', function (_this, progress) {
            $(_this.container).children(".progress").css("left", progress+"%");
        });

        window.topWavesurfer.on('finish', function () {
            updatePreviewPlayBtn(false);
            $(".full-play-btn").removeClass('playing');
            window.topWavesurfer.seekTo(0);
        });
        window.topWavesurfer.load(mixedFilePath);
    }

    stopTopPlayer = function() {
        if (window.topWavesurfer) {
            if (window.topWavesurfer.backend && !window.topWavesurfer.backend.isPaused()) {
                window.topWavesurfer.pause();
                $(".full-play-btn").removeClass('playing');
            }
        }
    }

    $(document).ready(function(){
		var progress = $("#tracker-compiled").data("progress");
		var parts = $("#tracker-compiled .tracker-part").length;
		var updateProgress = function(progress, parts) {
			var step = 100 / parts;
			var current = 1;
			var i;
			for ( i = step; i <= progress; i += step ) {
				$("#tracker-compiled .tracker-part.part" + current + " .gradient").css("width", "100%");
				$("#tracker-compiled .tracker-part.part" + current + " .gradient").css("outline-width", "2px");
				current ++;
			}
			var fill = (progress % step) * 100 / step;
			$("#tracker-compiled .tracker-part.part" + current + " .gradient").css("width", fill + "%");
			$("#tracker-compiled .tracker-part.part" + current + " .gradient").css("outline-width", "2px");
		}

		/* Mobile Version Toggle */
		$("a[data-toggle='sidebar']").click(function(e) {
			e.preventDefault();
			$("#wrapper").toggleClass("toggled");
		});

        $('#release-status').on('click', function(e) {
            if($(e.target).attr("data-status") == "unreleased") {
                $.ajax({
                    type: "PUT",
                    dataType: "json",
                    url: '/songs/<%=@song.id%>',
                    contentType: 'application/json',
                    data: JSON.stringify({status: "released"})
                })
                        .done(function( msg ) {
                            console.log( "Data Saved: " + msg );
                            $(e.target).html('Released').css('background', 'green')
                        })
                        .fail(function( msg ) {
                            console.log(  msg );
                        });
            }
        });

        $('#mix-tabs .tab a').click(function (event) {
            event.preventDefault();
            $('#mix-tabs .tab').removeClass('active');
            $(this).closest('.tab').addClass('active');
            window.configuration = $(this).data('mix');
            reInitializeClipsState();
            updatePreview();
            window.configurationBtn = this;
        });
    });
    </script>