<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @song.name %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @song.duration %>
</p>

<p>
  <strong>Zipfile:</strong>
  <%= @song.zipfile %>
</p>

<%= link_to 'Edit', edit_artist_song_path(@song) %> |
<%= link_to 'Back', artist_songs_path %>
