
<div class="player-div">
    <center>
        <%= image_tag("play1.png", :onclick => "startOrPauseSong();", :alt => "rss feed", :id => "play_button", :class => "play_button", :style => "cursor: pointer;") %>
        <%= image_tag("pause1.png", :onclick => "startOrPauseSong();", :alt => "rss feed", :id => "pause_button", :class => "pause_button", :style => "display: none; cursor: pointer;") %>
    </center>
</div>
<div>
    <center>
        <div class="row song-clip">
            <%= image_tag("1.png", :onclick => "clipRow1();", :id => "part-1-1", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("1.png", :onclick => "clipRow1();", :id => "part-2-1", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("1.png", :onclick => "clipRow1();", :id => "part-3-1", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("1.png", :onclick => "clipRow1();", :id => "part-4-1", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("1.png", :onclick => "clipRow1();", :id => "part-5-1", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("1.png", :onclick => "clipRow1();", :id => "part-6-1", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("1.png", :onclick => "clipRow1();", :id => "part-7-1", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("1.png", :onclick => "clipRow1();", :id => "part-8-1", :alt => "rss feed", :style => "cursor: pointer;") %>
        </div>
        <div class="row song-clip">
            <%= image_tag("2.png", :onclick => "clipRow2();", :id => "part-1-2", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("2.png", :onclick => "clipRow2();", :id => "part-2-2", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("2.png", :onclick => "clipRow2();", :id => "part-3-2", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("2.png", :onclick => "clipRow2();", :id => "part-4-2", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("2.png", :onclick => "clipRow2();", :id => "part-5-2", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("2.png", :onclick => "clipRow2();", :id => "part-6-2", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("2.png", :onclick => "clipRow2();", :id => "part-7-2", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("2.png", :onclick => "clipRow2();", :id => "part-8-2", :alt => "rss feed", :style => "cursor: pointer;") %>
        </div>
        <div class="row song-clip">
            <%= image_tag("3.png", :onclick => "clipRow3();", :id => "part-1-3", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("3.png", :onclick => "clipRow3();", :id => "part-2-3", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("3.png", :onclick => "clipRow3();", :id => "part-3-3", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("3.png", :onclick => "clipRow3();", :id => "part-4-3", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("3.png", :onclick => "clipRow3();", :id => "part-5-3", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("3.png", :onclick => "clipRow3();", :id => "part-6-3", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("3.png", :onclick => "clipRow3();", :id => "part-7-3", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("3.png", :onclick => "clipRow3();", :id => "part-8-3", :alt => "rss feed", :style => "cursor: pointer;") %>
        </div>
        <div class="row song-clip">
            <%= image_tag("4.png", :onclick => "clipRow4();", :id => "part-1-4", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("4.png", :onclick => "clipRow4();", :id => "part-2-4", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("4.png", :onclick => "clipRow4();", :id => "part-3-4", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("4.png", :onclick => "clipRow4();", :id => "part-4-4", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("4.png", :onclick => "clipRow4();", :id => "part-5-4", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("4.png", :onclick => "clipRow4();", :id => "part-6-4", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("4.png", :onclick => "clipRow4();", :id => "part-7-4", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("4.png", :onclick => "clipRow4();", :id => "part-8-4", :alt => "rss feed", :style => "cursor: pointer;") %>
        </div>
        <div class="row song-clip">
            <%= image_tag("5.png", :onclick => "clipRow5();", :id => "part-1-5", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("5.png", :onclick => "clipRow5();", :id => "part-2-5", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("5.png", :onclick => "clipRow5();", :id => "part-3-5", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("5.png", :onclick => "clipRow5();", :id => "part-4-5", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("5.png", :onclick => "clipRow5();", :id => "part-5-5", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("5.png", :onclick => "clipRow5();", :id => "part-6-5", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("5.png", :onclick => "clipRow5();", :id => "part-7-5", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("5.png", :onclick => "clipRow5();", :id => "part-8-5", :alt => "rss feed", :style => "cursor: pointer;") %>
        </div>
        <div class="row song-clip">
            <%= image_tag("6.png", :onclick => "clipRow6();", :id => "part-1-6", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("6.png", :onclick => "clipRow6();", :id => "part-2-6", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("6.png", :onclick => "clipRow6();", :id => "part-3-6", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("6.png", :onclick => "clipRow6();", :id => "part-4-6", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("6.png", :onclick => "clipRow6();", :id => "part-5-6", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("6.png", :onclick => "clipRow6();", :id => "part-6-6", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("6.png", :onclick => "clipRow6();", :id => "part-7-6", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("6.png", :onclick => "clipRow6();", :id => "part-8-6", :alt => "rss feed", :style => "cursor: pointer;") %>
        </div>
        <div class="row song-clip">
            <%= image_tag("7.png", :onclick => "clipRow7();", :id => "part-1-7", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("7.png", :onclick => "clipRow7();", :id => "part-2-7", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("7.png", :onclick => "clipRow7();", :id => "part-3-7", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("7.png", :onclick => "clipRow7();", :id => "part-4-7", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("7.png", :onclick => "clipRow7();", :id => "part-5-7", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("7.png", :onclick => "clipRow7();", :id => "part-6-7", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("7.png", :onclick => "clipRow7();", :id => "part-7-7", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("7.png", :onclick => "clipRow7();", :id => "part-8-7", :alt => "rss feed", :style => "cursor: pointer;") %>
        </div>
        <div class="row song-clip">
            <%= image_tag("8.png", :onclick => "clipRow8();", :id => "part-1-8", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("8.png", :onclick => "clipRow8();", :id => "part-2-8", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("8.png", :onclick => "clipRow8();", :id => "part-3-8", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("8.png", :onclick => "clipRow8();", :id => "part-4-8", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("8.png", :onclick => "clipRow8();", :id => "part-5-8", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("8.png", :onclick => "clipRow8();", :id => "part-6-8", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("8.png", :onclick => "clipRow8();", :id => "part-7-8", :alt => "rss feed", :style => "cursor: pointer;") %>
            <%= image_tag("8.png", :onclick => "clipRow8();", :id => "part-8-8", :alt => "rss feed", :style => "cursor: pointer;") %>
        </div>
    </center>
</div>

 <script type="text/javascript">
     var clips = [{'1' : "songs/jai_ambe/O-Bass_1a.m4a", '2' : "songs/jai_ambe/O-Crash_1b.m4a", '3' : "songs/jai_ambe/O-Dive_1c.m4a", '4' : "songs/jai_ambe/O-Drums_1d.m4a", 
                  '5' : "songs/jai_ambe/O-DT-Perc_1e.m4a", '6' : "songs/jai_ambe/O-Inst_1f.m4a", '7' : "songs/jai_ambe/O-Up Perc_1g.m4a", '8' : "songs/jai_ambe/O-Vocals_1h.m4a"},
                 {'1' : "songs/jai_ambe/O-Bass_2a.m4a", '2' : "songs/jai_ambe/O-Crash_2b.m4a", '3' : "songs/jai_ambe/O-Dive_2c.m4a", '4' : "songs/jai_ambe/O-Drums_2d.m4a", 
                  '5' : "songs/jai_ambe/O-DT-Perc_2e.m4a", '6' : "songs/jai_ambe/O-Inst_2f.m4a", '7' : "songs/jai_ambe/O-Up Perc_2g.m4a", '8' : "songs/jai_ambe/O-Vocals_2h.m4a"}, 
                 {'1' : "songs/jai_ambe/O-Bass_3a.m4a", '2' : "songs/jai_ambe/O-Crash_3b.m4a", '3' : "songs/jai_ambe/O-Dive_3c.m4a", '4' : "songs/jai_ambe/O-Drums_3d.m4a", 
                  '5' : "songs/jai_ambe/O-DT-Perc_3e.m4a", '6' : "songs/jai_ambe/O-Inst_3f.m4a", '7' : "songs/jai_ambe/O-Up Perc_3g.m4a", '8' : "songs/jai_ambe/O-Vocals_3h.m4a"}, 
                 {'1' : "songs/jai_ambe/O-Bass_4a.m4a", '2' : "songs/jai_ambe/O-Crash_4b.m4a", '3' : "songs/jai_ambe/O-Dive_4c.m4a", '4' : "songs/jai_ambe/O-Drums_4d.m4a", 
                  '5' : "songs/jai_ambe/O-DT-Perc_4e.m4a", '6' : "songs/jai_ambe/O-Inst_4f.m4a", '7' : "songs/jai_ambe/O-Up Perc_4g.m4a", '8' : "songs/jai_ambe/O-Vocals_4h.m4a"}, 
                 {'1' : "songs/jai_ambe/O-Bass_5a.m4a", '2' : "songs/jai_ambe/O-Crash_5b.m4a", '3' : "songs/jai_ambe/O-Dive_5c.m4a", '4' : "songs/jai_ambe/O-Drums_5d.m4a", 
                  '5' : "songs/jai_ambe/O-DT-Perc_5e.m4a", '6' : "songs/jai_ambe/O-Inst_5f.m4a", '7' : "songs/jai_ambe/O-Up Perc_5g.m4a", '8' : "songs/jai_ambe/O-Vocals_5h.m4a"}, 
                 {'1' : "songs/jai_ambe/O-Bass_6a.m4a", '2' : "songs/jai_ambe/O-Crash_6b.m4a", '3' : "songs/jai_ambe/O-Dive_6c.m4a", '4' : "songs/jai_ambe/O-Drums_6d.m4a", 
                  '5' : "songs/jai_ambe/O-DT-Perc_6e.m4a", '6' : "songs/jai_ambe/O-Inst_6f.m4a", '7' : "songs/jai_ambe/O-Up Perc_6g.m4a", '8' : "songs/jai_ambe/O-Vocals_6h.m4a"}, 
                 {'1' : "songs/jai_ambe/O-Bass_7a.m4a", '2' : "songs/jai_ambe/O-Crash_7b.m4a", '3' : "songs/jai_ambe/O-Dive_7c.m4a", '4' : "songs/jai_ambe/O-Drums_7d.m4a", 
                  '5' : "songs/jai_ambe/O-DT-Perc_7e.m4a", '6' : "songs/jai_ambe/O-Inst_7f.m4a", '7' : "songs/jai_ambe/O-Up Perc_7g.m4a", '8' : "songs/jai_ambe/O-Vocals_7h.m4a"}, 
                 {'1' : "songs/jai_ambe/O-Bass_8a.m4a", '2' : "songs/jai_ambe/O-Crash_8b.m4a", '3' : "songs/jai_ambe/O-Dive_8c.m4a", '4' : "songs/jai_ambe/O-Drums_8d.m4a", 
                  '5' : "songs/jai_ambe/O-DT-Perc_8e.m4a", '6' : "songs/jai_ambe/O-Inst_8f.m4a", '7' : "songs/jai_ambe/O-Up Perc_8g.m4a", '8' : "songs/jai_ambe/O-Vocals_8h.m4a"}]

     var playButton = document.getElementById("playButton");

     var index = 0, snd1, snd2, snd3, snd4, snd5, snd6, snd7, snd8;
     playNext();
     function startOrPauseSong() {
         if(snd1.paused && snd2.paused && snd3.paused && snd4.paused && snd5.paused && snd6.paused && snd7.paused && snd8.paused){
            snd1.play();  snd2.play();  snd3.play();  snd4.play();  snd5.play();  snd6.play();  snd7.play();  snd8.play();
            $("#play_button").hide();
            $("#pause_button").show();
         }
         else{       
            snd1.pause();  snd2.pause();  snd3.pause();  snd4.pause();  snd5.pause();  snd6.pause();  snd7.pause();  snd8.pause();  
            $("#play_button").show();
            $("#pause_button").hide();
         }
     }

     
     function playNext() {
        if (index < clips.length) {
            snd1  = new Audio(clips[index]["1"]);
            snd1.buffered;
            snd2  = new Audio(clips[index]["2"]);
            snd2.buffered;
            snd3 = new Audio(clips[index]["3"]);
            snd3.buffered;
            snd4 = new Audio(clips[index]["4"]);
            snd4.buffered;
            snd5 = new Audio(clips[index]["5"]);
            snd5.buffered;
            snd6 = new Audio(clips[index]["6"]);
            snd6.buffered;
            snd7 = new Audio(clips[index]["7"]);
            snd7.buffered;
            snd8 = new Audio(clips[index]["8"]);
            snd8.buffered;
            console.log(index);
            index++;
        };
        snd8.addEventListener("ended", function() {
            playNext();
            startOrPauseSong();
        }); 
     }

     function clipRow1(){
        if(snd1.volume == 0){ 
            snd1.volume = 1;
        }
        else{
            snd1.volume = 0;
        }
     }

     function clipRow2(){
        if(snd2.volume == 0){ 
            snd2.volume = 1;
        }
        else{
            snd2.volume = 0;
        }
     }

     function clipRow3(){
        if(snd3.volume == 0){ 
            snd3.volume = 1;
        }
        else{
            snd3.volume = 0;
        }
     }

     function clipRow4(){
        if(snd4.volume == 0){ 
            snd4.volume = 1;
        }
        else{
            snd4.volume = 0;
        }
     }

     function clipRow5(){
        if(snd5.volume == 0){ 
            snd5.volume = 1;
        }
        else{
            snd5.volume = 0;
        }
     }

     function clipRow6(){
        if(snd6.volume == 0){ 
            snd6.volume = 1;
        }
        else{
            snd6.volume = 0;
        }
     }

     function clipRow7(){
        if(snd7.volume == 0){ 
            snd7.volume = 1;
        }
        else{
            snd7.volume = 0;
        }
     }

    function clipRow8(){
        if(snd8.volume == 0){ 
            snd8.volume = 1;
        }
        else{
            snd8.volume = 0;
        }
     }

 </script>
