
<!-- Songs Details Area Start -->
<div class="row songs-details">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <div class="row">
            <div class="main-play-btn"></div>
        </div>
    </div>
</div>
<!-- Songs Details Area End -->

<!-- Songs Segment Area Start -->
<div id="song-clips" class="row">
    <div class="row" style="margin-bottom: 30px;">
    <center>
    <% leftLevels = %w(Vox Bass Drums Inst Rmx1 Rmx2 Rmx3 Rmx4) %>
    <% bottomLevels = %w(intro Verse1 Inst Chorus1 Breakdown Verse2 Verse3 Outro) %>
    <% for r in 1..8 %>
        <div id="clips-<%=r%>" class="clips <%='playing' if r == 1 %>">
            <div class="part-play-btn"></div>
            <% for c in 1..8 %>
                <% if c == 5%>
                    <div class="clip bordered">
                        <div class="play-btn"></div>
                    </div>
                <% end %>
                <% if r == 1 %>
                  <div class="level left"><%=leftLevels[c-1]%></div>
                <% end %>
                <div id="clip-part-<%=r%>-<%=c%>" class="clip clip-<%=c%>" data-row="<%=r%>" data-column="<%=c%>">
                    <div class="opaque-gray"></div>
                    <div class="play-btn"></div>
                </div>
            <% end %>
            <div class="level"><%=bottomLevels[r-1]%></div>
        </div>
    <% end %>
    </center>
    </div>
</div>
<!-- Songs Segment Area End -->

 <script type="text/javascript">
     var clips = [{'1' : "songs/jai_ambe/O-Bass_1a.m4a", '2' : "songs/jai_ambe/O-Crash_1b.m4a", '3' : "songs/jai_ambe/O-Dive_1c.m4a", '4' : "songs/jai_ambe/O-Drums_1d.m4a", 
                  '5' : "songs/jai_ambe/O-DT-Perc_1e.m4a", '6' : "songs/jai_ambe/O-Inst_1f.m4a", '7' : "songs/jai_ambe/O-Up Perc_1g.m4a", '8' : "songs/jai_ambe/O-Vocals_1h.m4a"},
                 {'1' : "songs/jai_ambe/O-Bass_2a.m4a", '2' : "songs/jai_ambe/O-Crash_2b.m4a", '3' : "songs/jai_ambe/O-Dive_2c.m4a", '4' : "songs/jai_ambe/O-Drums_2d.m4a", 
                  '5' : "songs/jai_ambe/O-DT-Perc_2e.m4a", '6' : "songs/jai_ambe/O-Inst_2f.m4a", '7' : "songs/jai_ambe/O-Up Perc_2g.m4a", '8' : "songs/jai_ambe/O-Vocals_2h.m4a"}, 
                 {'1' : "songs/jai_ambe/O-Bass_3a.m4a", '2' : "songs/jai_ambe/O-Crash_3b.m4a", '3' : "songs/jai_ambe/O-Dive_3c.m4a", '4' : "songs/jai_ambe/O-Drums_3d.m4a", 
                  '5' : "songs/jai_ambe/O-DT-Perc_3e.m4a", '6' : "songs/jai_ambe/O-Inst_3f.m4a", '7' : "songs/jai_ambe/O-Up Perc_3g.m4a", '8' : "songs/jai_ambe/O-Vocals_3h.m4a"}, 
                 {'1' : "songs/jai_ambe/O-Bass_4a.m4a", '2' : "songs/jai_ambe/O-Crash_4b.m4a", '3' : "songs/jai_ambe/O-Dive_4c.m4a", '4' : "songs/jai_ambe/O-Drums_4d.m4a", 
                  '5' : "songs/jai_ambe/O-DT-Perc_4e.m4a", '6' : "songs/jai_ambe/O-Inst_4f.m4a", '7' : "songs/jai_ambe/O-Up Perc_4g.m4a", '8' : "songs/jai_ambe/O-Vocals_4h.m4a"}, 
                 {'1' : "songs/jai_ambe/O-Bass_5a.m4a", '2' : "songs/jai_ambe/O-Crash_5b.m4a", '3' : "songs/jai_ambe/O-Dive_5c.m4a", '4' : "songs/jai_ambe/O-Drums_5d.m4a", 
                  '5' : "songs/jai_ambe/O-DT-Perc_5e.m4a", '6' : "songs/jai_ambe/O-Inst_5f.m4a", '7' : "songs/jai_ambe/O-Up Perc_5g.m4a", '8' : "songs/jai_ambe/O-Vocals_5h.m4a"}, 
                 {'1' : "songs/jai_ambe/O-Bass_6a.m4a", '2' : "songs/jai_ambe/O-Crash_6b.m4a", '3' : "songs/jai_ambe/O-Dive_6c.m4a", '4' : "songs/jai_ambe/O-Drums_6d.m4a", 
                  '5' : "songs/jai_ambe/O-DT-Perc_6e.m4a", '6' : "songs/jai_ambe/O-Inst_6f.m4a", '7' : "songs/jai_ambe/O-Up Perc_6g.m4a", '8' : "songs/jai_ambe/O-Vocals_6h.m4a"}, 
                 {'1' : "songs/jai_ambe/O-Bass_7a.m4a", '2' : "songs/jai_ambe/O-Crash_7b.m4a", '3' : "songs/jai_ambe/O-Dive_7c.m4a", '4' : "songs/jai_ambe/O-Drums_7d.m4a", 
                  '5' : "songs/jai_ambe/O-DT-Perc_7e.m4a", '6' : "songs/jai_ambe/O-Inst_7f.m4a", '7' : "songs/jai_ambe/O-Up Perc_7g.m4a", '8' : "songs/jai_ambe/O-Vocals_7h.m4a"}, 
                 {'1' : "songs/jai_ambe/O-Bass_8a.m4a", '2' : "songs/jai_ambe/O-Crash_8b.m4a", '3' : "songs/jai_ambe/O-Dive_8c.m4a", '4' : "songs/jai_ambe/O-Drums_8d.m4a", 
                  '5' : "songs/jai_ambe/O-DT-Perc_8e.m4a", '6' : "songs/jai_ambe/O-Inst_8f.m4a", '7' : "songs/jai_ambe/O-Up Perc_8g.m4a", '8' : "songs/jai_ambe/O-Vocals_8h.m4a"}]


     var index = 0, sounds = {};
     function intializeSoundClips() {
        var sound = null;
        for (var i = 0; i < 8; i++) {
            sounds[i] = {};
            for (var j = 1; j <= 8; j++) {
                sound = new Audio(clips[i][j]);        
                sounds[i][j] = sound;
                sounds[i][j].buffered;
            }
        };
        playNext();
     }

     function playNext() {
        console.log("Index ::", index);
        if (index >= clips.length) { return };
        sounds[index]["8"].addEventListener("ended", function() {
            index++; 
            console.log(index+ " Clip ended !!!");
            $("#clips-"+index).removeClass("playing");
            if (index >= 8) { 
              index = 0;
              return 
            };

            playNext();
            if (!$("#clips-"+(index+1)).hasClass('playing')) {
              $("#clips-"+(index+1)).addClass('playing');
            };
            $("#clips-"+(index+1)).addClass("playing");
            for (var i = 1; i <= 8; i++) {
                var sound = sounds[index][i];
                sound.play();
            };
        });  
     }

     // Intialize all sound clips for play
     intializeSoundClips();

     $(document).ready(function(){
        $(".part-play-btn").click(function(event){
            event.stopPropagation();
            if (!$("#clips-"+(index+1)).hasClass('playing')) {
              $("#clips-"+(index+1)).addClass('playing');
            };

            // Play or Paused Sound Clips
            $('.part-play-btn').toggleClass('playing');
            for (var i = 1; i <= 8; i++) {
                var sound = sounds[index][i];
                if ($(event.target).hasClass('playing')) {
                    sound.play();
                } else {
                    sound.pause();
                }
            };
        });

        $(".clip").click(function(event){
            event.stopPropagation();
            var row = $(event.target).data('row');
            var column = $(event.target).data('column');
            console.log("Clip Clicked : ", row, column);
            $(event.target).toggleClass('muted');
            if (sounds[row - 1]) {
               var sound = sounds[row - 1][column];
                if(sound.volume == 0) {
                    sound.volume = 1;
                } else {
                    sound.volume = 0;
                } 
            }
        });

        $(".clip .play-btn").click(function(event){
            event.stopPropagation();
            var row = $(event.target).parent().data('row');
            var column = $(event.target).parent().data('column');
            console.log("Play Button Clicked : ", row, column);

        });
     });
 </script>