<h1>
    Songs
    <div class="pull-right upload-btn">
        <%= link_to "Upload Music", '/songs/new', class: "btn btn-primary btn-md" %>
    </div>
</h1>
<div class="songs">
    <%= simple_table_for @songs, ['Name', 'Duration', 'Upload date', 'Last Updated'], class: 'table' do |song| %>
        <%= field link_to song.name, configurator_url(song.id) %>
        <%= field song.name %>
        <%= field l(song.created_at, format: '%Y/%m/%d %H:%M %p') %>
        <%= field l(song.updated_at, format: '%Y/%m/%d %H:%M %p') %>
    <% end %>
</div>
