<h1>
    Songs
    <div class="pull-right upload-btn">
        <%= link_to "Upload Music", '/songs/new', class: "btn btn-primary btn-md" %>
    </div>
</h1>
<div class="songs">
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Duration</th>
        <th>Upload date</th>
        <th></th>
      </tr>
     
    <% @songs.each do |song| %>
      <tr>
        <td><%=link_to song.name, configurator_url(song.id) %></td>
        <td><%= Time.at(song.duration).utc.strftime("%M:%S") %></td>
        <td><%= Time.at(song.created_at).utc.strftime('%Y/%m/%d %H:%M %p') %></td>
        <td><%= Time.at(song.updated_at).utc.strftime('%Y/%m/%d %H:%M %p') %></td>
      </tr>
    <% end %>
    </table>
</div>