<!-- Main player Area Start -->
<div class="col-md-9">
    <div class="col-md-12 col-lg-12">
        <% word = "creat" %>
        <% word = "updat" if mixaudio.present? %>
        <a id="mixaudio" data-remote="true" href="/songs/<%=@song.id%>/mixaudio?configuration=<%=@configuration%>" class="mixaudio loading pull-right<%=" disabled" if mixaudio.present? %>" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> <%=word%>ing mix">
            <span><%=word%>e mix</span>
        </a>
    </div>
</div>
<div class="col-md-9">
    <div class="main-player-bg"></div>
    <div class="main-player-clips">
        <% (1..8).each_with_index do |c, index| %>
            <div class="clips">
                <div class="clip clip-0"> </div>
            </div>
        <% end %>
    </div>
    <div id="main-player" class="row<%=" hide" if mixaudio.blank? %>" data-path='<%="#{mixaudio}"%>'>
        <div class="full-play-btn disabled"></div>
        <div class="full-waveform">
            <div class="progress<%=" hide" if mixaudio.blank? %>"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $("#mixaudio").on('click', function(event){
            $(event.target).addClass("disabled");
            $("#mixaudio").button('loading');
        });

        $(".full-play-btn").on('click', function(event){
            event.stopPropagation();
            if (!window.topWavesurfer) {
                return alert("Mix Audio player is not ready. Please try later.")
            };

            // Pause other players i.e. part player, clip preview player
            pauseClipPreviewPlayer();
            pausePartPlayer();

            if (window.topWavesurfer.backend.isPaused()) {
                $(event.target).addClass('playing');
                window.topWavesurfer.play();
                updatePreviewPlayBtn(true);
            } else {
                $(event.target).removeClass('playing');
                window.topWavesurfer.pause();    
                updatePreviewPlayBtn(false);
            }
        });
    });
</script>
<!-- Main player Area End -->