<!-- Main player Area Start -->
<div class="col-md-9">
    <div class="col-md-12 col-lg-12">
        <% word = "creat" %>
        <% word = "updat" if mixaudio.present? %>
        <a id="mixaudio" data-remote="true" href="/songs/<%=@song.id%>/mixaudio?configuration=<%=@configuration%>" class="mixaudio loading pull-right<%=" disabled" if mixaudio.present? %>" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> <%=word%>ing mix">
            <span><%=word%>e mix</span>
        </a>
    </div>
</div>
<div class="col-md-9">
    <div class="main-player-bg"></div>
    <div class="main-player-clips">
        <% @song.parts.each_with_index do |part, c| %>
            <% c += 1 %>
            <div id="clips-<%=c%>0" class="clips<%=' focus' if c == @currentIndex %>" data-column="<%=c%>">
                <% clip = part.clips.first %>
                <div id="clip-part-<%=c%>" class="clip" data-id="<%=clip.id%>" data-path="<%=clip.file%>" data-state1="<%=clip.state%>" data-state2="<%=clip.state2%>" data-state3="<%=clip.state3%>" data-filetype="<%=clip.wing%>">
                    <div class="progress"></div>
                </div>
            </div>
        <% end %>
    </div>
    <div id="main-player" class="row<%=" hide" if mixaudio.blank? %>" data-path='<%="#{mixaudio}"%>'>
        <div class="full-play-btn"></div>
        <!-- <div class="full-waveform">
            <div class="progress<%=" hide" if mixaudio.blank? %>"></div>
        </div> -->
    </div>
</div>
<div id="configurationbtn" class="col-md-3">
    <%= render 'configurationbtn' %>          
</div>
<script type="text/javascript">
    window.topWavesurfers = {};
    window.seekingColumn = 0;
    window.wavesurfers = wavesurfers = {};
    window.draggableElm = {};
    var loadTopColumn = 1;

    topWavesurferPlayer = function(container, src, column) {
        var wavesurfer = Object.create(WaveSurfer);
        wavesurfer.column = column;
        wavesurfer.init({
            container: container,
            fillParent: true,
            height: 17,
            waveColor: 'rebeccapurple',
            progressColor: 'rebeccapurple',
            splitChannels: true
        });
        
        wavesurfer.on('ready', function (_this) {
            $(_this.container).addClass('loaded');
            if (!_this.isMuted) {
                _this.toggleMute();    
            };
            console.log(_this.column+" Top Clip player is ready!");
            if (loadTopColumn <= 7) {
                loadTopColumn++;
                loadTopClips();
            };
        });

        wavesurfer.on('loading', function (_this, progress) {
            $(_this.container).children(".progress").css("left", progress+"%");
        });

        wavesurfer.on('seek', function (_this, position) {
            console.log("Column ===== : ", _this.column);
            if (!_this.column) { return };
            if (seekingColumn == _this.column) {
                console.log(" Seek CallBack ============= ", seekingColumn);
                seekingColumn = -1;
                return true;
            };

            seekAllClips(_this.column, position);
        });

        wavesurfer.load(src);
        wavesurfers[column][0] = wavesurfer;
    }

    function seekAllClips(column, position) {
        if (sColumn != column) {
            seekingColumn = sColumn;
            stopPartPlayers(true);

            $("#clips-"+sColumn+", #clips-"+sColumn+"0").removeClass('focus playing');
            sColumn = column;
            showCurrentPartDetails();
            $("#clips-"+sColumn+", #clips-"+sColumn+"0").addClass('focus');

            if ($(".full-play-btn").hasClass('playing')) {
                $("#clips-"+sColumn).addClass('playing');
            }

            playNext();
            updatePreview();
        }
        
        for (var i = 0; i <= 8; i++) {
            var wavesurfer = wavesurfers[sColumn][i];
            if (wavesurfer) {
                if (i != 0) { wavesurfer.seekTo(position); }
                if ($(".full-play-btn").hasClass('playing')) {
                    if (wavesurfer.backend.isPaused()) {
                        wavesurfer.play();
                    }
                }
            };
        };
    }

    function loadTopClips() {
       $("#mixaudioplayer #clips-"+loadTopColumn+"0").each(function(){
            var column = $(this).attr('data-column');
            if (!wavesurfers[column]) wavesurfers[column] = {};
            $(this).find('.clip').each(function(){
                topWavesurferPlayer(this, $(this).data('path'), parseInt(column));
            })
        }); 
    }

    $(document).ready(function(){
        // Intialize all sound clips for play
        setTimeout(function(){
            loadTopClips();    
        }, 500);

        $("#mixaudio").on('click', function(event){
            $(event.target).addClass("disabled");
            $("#mixaudio").button('loading');
        });

        $(".full-play-btn").on('click', function(event){
            event.stopPropagation();
            // Stop any signle player
            stopClipPreviewPlayer(true);

            // Attach Listener
            addRemoveEventListener(true);
            $(".full-play-btn").toggleClass('playing');

            // Play or Paused Sound Clips
            for (var i = 0; i <= 8; i++) {
                var wavesurfer = wavesurfers[sColumn][i];
                if (wavesurfer.backend.isPaused()) {
                    $("#clips-"+sColumn).addClass('playing');
                    wavesurfer.play();
                } else {
                    $("#clips-"+sColumn).removeClass('playing');
                    wavesurfer.pause();
                }
            };
        });
    });
</script>
<!-- Main player Area End -->