<%- title("#{@song.name}") %>
<div id="song-clips" class="row song-clips" data-id="<%=@song.id%>">
    <div class="row" style="margin-bottom: 15px;">
        <div class="col-md-9" style="height: 90px;">
            <div id="songdetails" class="col-md-4">
                 <%= render 'songdetails' %>          
            </div>
            <div id="partdetails" class="col-md-4">
                <%= render 'partdetails' %>          
            </div>
        </div>
    </div>

    <div id="mixaudioplayer" class="row main-player-area">
        <%= render 'mixaudioplayer', song: @song, mixaudio: @mixaudio %>
    </div>

    <div class="row">
        <div id="audio-clips" class="col-md-9">
            <%= render 'clips/index' %>            
        </div>
        <div id="preview" class="col-md-3">
            <%= render 'preview' %>
        </div>
    </div>
</div>

<script type="text/javascript">
    window.configuration = "<%=@configuration%>";
    initializeTopPlayer = function(mixedFilePath) {
        window.topWavesurfer = Object.create(WaveSurfer);
        window.topWavesurfer.init({
            container: '.full-waveform',
            fillParent: true,
            height: 34,
            waveColor: 'white',
            progressColor: 'white',
            cursorColor: 'white'
        });
        window.topWavesurfer.on('ready', function (_this) {
            console.log("Mix Audio player is ready!");
            $(".full-play-btn, #mixaudio").removeClass('disabled');
        });

        window.topWavesurfer.on('loading', function (_this, progress) {
            $(_this.container).children(".progress").css("left", progress+"%");
        });

        window.topWavesurfer.on('finish', function () {
            updatePreviewPlayBtn(false);
            $(".full-play-btn").removeClass('playing');
            window.topWavesurfer.seekTo(0);
        });
        window.topWavesurfer.load(mixedFilePath);
    }

    stopTopPlayer = function() {
        if (window.topWavesurfer) {
            if (window.topWavesurfer.backend && !window.topWavesurfer.backend.isPaused()) {
                window.topWavesurfer.pause();
                $(".full-play-btn").removeClass('playing');
            }    
        };
    }
    <% if @mixaudio.present? %>
    $(document).ready(function(){
        //initializeTopPlayer("<%=@mixaudio%>");
    });
    <% end %>
</script>