<div class="row">
    <div class="btn-group" role="group" aria-label="...">
        <a href="/songs/<%=@song.id%>/configure?configuration=style-up" class="btn btn-primary loading configuration<%=' disabled' if @configuration == 'style-up'%>" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Loading">
            <span>Style</span>
            <i class="fa fa-chevron-circle-up"></i>
        </a>
        <a href="/songs/<%=@song.id%>/configure?configuration=source" class="btn btn-primary loading configuration<%=' disabled' if @configuration == 'source'%>" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Loading">
            <span>Source</span>
        </a>
        <a href="/songs/<%=@song.id%>/configure?configuration=style-down" class="btn btn-primary loading configuration<%=' disabled' if @configuration == 'style-down'%>" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Loading">
            <span>Style</span>
            <i class="fa fa-chevron-circle-down"></i>
        </a>
    </div>
</div>

<!-- Main player Area Start -->
<div id="mixaudioplayer" class="row main-player-area">
    <%= render 'mixaudioplayer', song: @song, mixaudio: @mixaudio %>
</div>
<!-- Main player Area End -->

<%= render 'clips/index' %>

<script type="text/javascript">
    var configuration = "<%=@configuration%>";
    initializeTopPlayer = function(mixedFilePath) {
        window.topWavesurfer = Object.create(WaveSurfer);
        window.topWavesurfer.init({
            container: '.full-waveform',
            fillParent: true,
            height: 42,
            waveColor: 'white',
            progressColor: 'white',
            cursorColor: 'white'
        });
        window.topWavesurfer.on('ready', function (_this) {
            console.log("Mix Audio player is ready!");
            $(".full-play-btn, #mixaudio").removeClass('disabled');
        });

        window.topWavesurfer.on('loading', function (_this, progress) {
            $(_this.container).children(".progress").css("left", progress+"%");
        });

        window.topWavesurfer.on('finish', function () {
            $(".full-play-btn").removeClass('playing');
            window.topWavesurfer.seekTo(0);
        });
        window.topWavesurfer.load(mixedFilePath);
    }

    stopTopPlayer = function() {
        if (window.topWavesurfer) {
            if (!window.topWavesurfer.backend.isPaused()) {
                window.topWavesurfer.pause();
                $(".full-play-btn").removeClass('playing');
            }    
        };
    }

    $(document).ready(function(){
        <% if @mixaudio.present? %>
        initializeTopPlayer("<%=@mixaudio%>");
        <% end %>
        $(".configuration").on('click', function(event){
            event.stopPropagation();
            $(event.target).button('loading');
            $(".configuration").removeClass("disabled");
            $(event.target).addClass("disabled");
        });
    });
</script>